html {
    font-family: 'Lucida Sans' 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

site-intro {
    font-size: 1.25rem;
}

nav a {
    color:teal;
    text-decoration: none;
    text-transform: uppercase;
}

/*univisited link*/
nav a:link {
    color:olivedrab;
}

/*visited link*/
nav a:visited {
    color:darkgoldenrod;
    
}

/*hover over link*/
nav a:hover {
    color: darkslategrey;
    text-decoration:underline;
}

/*selected link*/
nav a:active {
    color: midnightblue;
    text-decoration-line: underline;
}